<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TOP2000UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="main-header">
        <div class="header-logo">
            <div class="pt-3 pb-3 container d-flex justify-content-between ">
                <a asp-controller="Home" asp-action="Index">
                    <img id="top-logo" src="~/Images/top2000logo.png" />
                </a>
                <img id="npo-logo" src="~/Images/npo2logo.png" />
            </div>
        </div>
        @*
        <div class="header-banner-container">
            <img src="~/Images/header.jpg" />
        </div>
        *@
        <nav id="header-nav" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spSelectAllTitles" asp-action="">Nummers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spSelectAllArtists" asp-action="">Artiesten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spSelectSearchedArtist" asp-action="">Zoek artiest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spSelectListingOnYear" asp-action="">Oude top2000</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spSelectTop10ListingOnYear" asp-action="">Top 10</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spNumberOfSongsOfArtist" asp-action="">Nummers per artiest</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    <div class="bg-dark">
        <div class="container">
            <main role="main" class="pb-3 row pt-3">
                <div class="col-9">
                    @RenderBody()
                </div>
                <div class="col-3">

                    <div id="sideCol">
                        <strong class="newsText">Nieuwsartikelen</strong>
                        <div class="newsCollum">
                            <!--Artikel 1-->
                            <div class="newsCard">
                                <a href="https://www.nporadio2.nl/top2000/nieuws/31054/elton-john-kondigt-allerlaatste-show-in-nederland-aan"><img src="~/Images/newsArticals/Elthon John.jpg"></a>
                                <div class="arTitle">
                                    <p>Elton John kondigt allerlaatste show in Nederland aan</p>
                                </div>
                            </div>
                            <!--Artikel 2-->
                            <div class="newsCard">
                                <a href="https://www.nporadio2.nl/top2000/nieuws/31028/wie-heeft-de-langste-in-de-top-2000-2020"><img src="~/Images/newsArticals/TOP2000AR.jpg"></a>
                                <div class="arTitle">
                                    <p>Wie heeft de langste in de NPO Radio 2 Top 2000?</p>
                                </div>
                            </div>
                            <!--Artikel 3-->
                            <div class="newsCard">
                                <a href="https://www.nporadio2.nl/top2000/nieuws/31029/everything-i-do-i-do-it-for-you-van-bryan-adams-had-bijna-niet-bestaan"><img src="~/Images/newsArticals/Bryan Adams.jpg"></a>
                                <div class="arTitle">
                                    <p>(Everything I Do) I Do It For You van Bryan Adams had bijna niet bestaan</p>
                                </div>
                            </div>
                            <!--Artikel 4-->
                            <div class="newsCard">
                                <a href="https://www.nporadio2.nl/top2000/nieuws/31001/vijf-albumparels-van-paul-mccartney-die-je-moet-horen"><img src="~/Images/newsArticals/Paul McCartney.jpg"></a>
                                <div class="arTitle">
                                    <p>Vijf albumparels van Paul McCartney die je moet horen</p>
                                </div>
                            </div>
                            <!--Artikel 5-->
                            <div class="newsCard">
                                <a href="https://www.nporadio2.nl/top2000/nieuws/31011/diana-ross-kondigt-voor-het-eerst-in-vijftien-jaar-nieuw-album-aan"><img src="~/Images/newsArticals/Diana Ross.jpg"></a>
                                <div class="arTitle">
                                    <p>Diana Ross kondigt voor het eerst in vijftien jaar nieuw album aan</p>
                                </div>
                            </div>
                            <!--Artikel 6-->
                            <div class="newsCard">
                                <a href="https://www.nporadio2.nl/top2000/nieuws/30996/de-vijf-grootste-hits-van-2pac"><img src="~/Images/newsArticals/2Pac.png"></a>
                                <div class="arTitle">
                                    <p>De vijf grootste hits van 2Pac</p>
                                </div>
                            </div>
                            <!--Artikel 7-->
                            <div class="newsCard">
                                <a href="https://www.nporadio2.nl/top2000/nieuws/30968/eric-clapton-niet-op-het-podium-maar-wel-op-tv"><img src="~/Images/newsArticals/Eric Clapton.jpg"></a>
                                <div class="arTitle">
                                    <p>Kijktip! Eric Clapton live tijdens Crossroads Guitar Festival</p>
                                </div>
                            </div>
                            <!--Artikel 8-->
                            <div class="newsCard">
                                <a href="https://www.nporadio2.nl/top2000/nieuws/30956/metallica-trotseert-de-bliksem-op-pinkpop-2014"><img src="~/Images/newsArticals/Metallica.jpg"></a>
                                <div class="arTitle">
                                    <p>Metallica trotseert de bliksem op Pinkpop 2014</p>
                                </div>
                            </div>
                            <!--Artikel 9-->
                            <div class="newsCard">
                                <a href="https://www.nporadio2.nl/top2000/nieuws/30941/prince-speelt-purple-rain-eerste-keer-live-2"><img src="~/Images/newsArticals/Prince.jpg"></a>
                                <div class="arTitle">
                                    <p>Prince speelt Purple Rain eerste keer live</p>
                                </div>
                            </div>
                            <!--Artikel 10-->
                            <div class="newsCard">
                                <a href="https://www.nporadio2.nl/top2000/nieuws/30893/legendarisch-live-iron-maiden-voor-een-kwart-miljoen-uitzinnige-brazilianen"><img src="~/Images/newsArticals/Iron Maiden.jpg"></a>
                                <div class="arTitle">
                                    <p>Legendarisch Live: Iron Maiden voor een kwart miljoen uitzinnige Brazilianen</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TOP2000UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
