<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TOP2000UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header id="main-header">
        <div class="header-logo">
            <div class="pt-3 pb-3 container d-flex justify-content-between ">
                <a asp-controller="Home" asp-action="Index">
                    <img id="top-logo" src="~/Images/top2000logo.png" />
                </a>
                <img id="npo-logo" src="~/Images/npo2logo.png" />
            </div>
        </div>
        @*
        <div class="header-banner-container">
            <img src="~/Images/header.jpg" />
        </div>
        *@
        <nav id="header-nav" class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spSelectAllTitles" asp-action="">Nummers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spSelectAllArtists" asp-action="">Artiesten</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spSelectSearchedArtist" asp-action="">Zoek artiest</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spSelectListingOnYear" asp-action="">Oude top2000</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spTop10ListingOnYear" asp-action="">Top 10</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="spNumberOfSongsOfArtist" asp-action="">Nummers per artiest</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    
    <div class="bg-dark">
        <div class="container">
            <main role="main" class="pb-3 row pt-3">
                <div class="col-9">
                    @RenderBody()
                </div>
                <div class="col-3">
                    IAUYGFSTAGYHDUASDYUGAUIHDADH
                </div>
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - TOP2000UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
