/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color: #ffffff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

ul {
    padding: 0;
}

#npo-logo {
    height: 100px;
}

#header-nav {
    color: #ffffff;
    background-color: #da0d14;
}

.list ul li {
    background-color: #fff;
    display: flex;
    color: black;
}

.list-info {
    display: flex;
    background-color: #da0d14;
    margin-bottom: 4px;
}

.list {

}

.list-info ul {
    list-style-type: none;
}

.list-info ul li {
    height: 87px;
}

.list ul{
    list-style-type: none;
}

.list ul li {
    height: 87px;
}

.list-data ul li {
    margin-bottom: 4px;
}

.play {
    flex: 1;
}

.data-play {
    background-color: #da0d14;
    display: flex;
    justify-content: center;
}

#Capa_1 {
    fill: white;
    height: 50px;
}

.position {
    flex: 1;
    display: flex;
    justify-content: center;
}

.data-position {
    background-color: #171f26;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
}

.title {
    flex: 3;
    padding-left: 15px;
}

.artist-name {
    flex: 3;
    padding-left: 15px;
}

.year {
    flex: 1;
}

.list-item {
    display: flex;
    align-items: center;
}
